################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lock
*.ide
*.ide-shm
*.ide-wal
*.suo
/UnitTestReporter/UnitTestReporter/obj
/.vs
/UnitTestReporter/UnitTestReporter/bin/Debug/netcoreapp3.1
/UnitTestReporter/.vs/UnitTestReporter/DesignTimeBuild/.dtbcache
/UnitTestReporter/UnitTestReporter.Business/obj
/UnitTestReporter/UnitTestReporter.Business/bin/Debug/netcoreapp3.1
/UnitTestReporter/UnitTestReporter.Core/bin/Debug/netcoreapp3.1
/UnitTestReporter/UnitTestReporter.Core/obj/Debug/netcoreapp3.1
/UnitTestReporter/UnitTestReporter.Core/obj
*.user
/UnitTestReporter/UnitTestReporter.Test/bin/Debug/netcoreapp3.1
/UnitTestReporter/UnitTestReporter.Test/obj
/UnitTestReporter/.vs/UnitTestReporter/v16/TestStore/0
